
## Chapter6. 프로그래밍 기반 데이터 전처리

1) 날짜 타입으로 변경하기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://scottyoon.cafe24.com/data/brand_ad_ex.csv')
df

        광고주     브랜드         시작일         종료일  Impression   Click   재생 완료
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077    11.0    2070
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107    25.0    5211
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715     6.0    1091
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832    16.0    1264
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851     NaN    1123
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082    73.0   48945
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170    34.0   14500
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674    27.0    1525
11      NaN  브래드 12  2020-08-01  2020-08-31       10869    35.0    8122
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595     2.0    1929
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413    57.0   11269
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930     NaN   25111
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977    29.0    4286
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873    68.0    1728
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970    43.0   10961

In [3]:
df['시작일']

0     2020-08-01
1     2020-08-01
2     2020-07-24
3     2020-08-04
4     2020-06-25
5     2020-08-01
6     2020-07-03
7     2020-06-26
8     2020-08-01
9     2020-07-10
10    2020-08-01
11    2020-08-01
12    2020-08-01
13    2020-08-01
14    2020-07-31
15    2020-07-01
16    2020-07-31
17    2020-07-10
18    2020-07-24
Name: 시작일, dtype: object

In [5]:
df2 = df.copy()
df2['시작일'] = pd.to_datetime(df2['시작일'])  # dtype: object 를 datetime으로 변경함
df2['시작일']

0    2020-08-01
1    2020-08-01
2    2020-07-24
3    2020-08-04
4    2020-06-25
5    2020-08-01
6    2020-07-03
7    2020-06-26
8    2020-08-01
9    2020-07-10
10   2020-08-01
11   2020-08-01
12   2020-08-01
13   2020-08-01
14   2020-07-31
15   2020-07-01
16   2020-07-31
17   2020-07-10
18   2020-07-24
Name: 시작일, dtype: datetime64[ns]

In [6]:
df2['시작일'].dt.dayofweek   #월요일: 0, 화: 1, 수:2, 목:3, 금: 4, 토: 5, 금: 6

0     5
1     5
2     4
3     1
4     3
5     5
6     4
7     4
8     5
9     4
10    5
11    5
12    5
13    5
14    4
15    2
16    4
17    4
18    4
Name: 시작일, dtype: int64

In [7]:
df2['시작_년'] = df2['시작일'].dt.year
df2['시작_월'] = df2['시작일'].dt.month
df2['시작_일'] = df2['시작일'].dt.day

In [8]:
df2.head()

,광고주,브랜드,시작일,종료일,Impression,Click,재생 완료,시작_년,시작_월,시작_일
0,(유) AAA,브랜드 1,2020-08-01,2020-08-31,11615,72.0,1937,2020,8,1
1,㈜ BBB,브래드 2,2020-08-01,2020-08-31,3077,11.0,2070,2020,8,1
2,㈜ CCC,브래드 3,2020-07-24,2020-08-31,8107,25.0,5211,2020,7,24
3,NaN,브래드 4,2020-08-04,2020-08-10,1023737,5275.0,195422,2020,8,4
4,㈜ DDD,브래드 5,2020-06-25,2020-08-19,1715,6.0,1091,2020,6,25

In [9]:
df2.groupby('시작_월')['브랜드'].count()

시작_월
6    2
7    8
8    9
Name: 브랜드, dtype: int64

In [21]:
#df3 를 만들고 종료일 기준으로 날짜별로 브랜드의 카운트 시행
df3 = df.copy()
df3['종료일'] = pd.to_datetime(df3['종료일'])  # dtype: object 를 datetime으로 변경함df2['시작_년'] = df2['시작일'].dt.year
df3['종료_년'] = df3['종료일'].dt.year
df3['종료_월'] = df3['종료일'].dt.month
df3['종료_일'] = df3['종료일'].dt.day
df3.groupby('종료_일')['브랜드'].count()

종료_일
8      1
10     1
13     1
14     1
16     1
17     1
19     1
20     1
30     1
31    10
Name: 브랜드, dtype: int64

In [22]:
df3.groupby('종료_월')['Impression'].mean()

종료_월
8     80179.764706
9     25170.000000
10    28246.000000
Name: Impression, dtype: float64

###2) 텍스트를 코드값으로 변경하기

In [12]:
df3 = df.copy()

In [13]:
df3['광고주국가'] = '대한민국'

In [14]:
df3.loc[df3['광고주'] == '㈜ BBB', '광고주국가'] = '미국'
df3.loc[df3['광고주'] == '㈜ GGG', '광고주국가'] = '미국'
df3

        광고주     브랜드         시작일         종료일  Impression   Click   재생 완료 광고주국가
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937  대한민국
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077    11.0    2070    미국
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107    25.0    5211  대한민국
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422  대한민국
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715     6.0    1091  대한민국
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832    16.0    1264  대한민국
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851     NaN    1123  대한민국
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082    73.0   48945    미국
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246   129.0    8624    미국
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170    34.0   14500    미국
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674    27.0    1525  대한민국
11      NaN  브래드 12  2020-08-01  2020-08-31       10869    35.0    8122  대한민국
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739   342.0  111435  대한민국
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595     2.0    1929  대한민국
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413    57.0   11269  대한민국
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930     NaN   25111  대한민국
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977    29.0    4286  대한민국
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873    68.0    1728  대한민국
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970    43.0   10961  대한민국

In [15]:
df3.loc[df3['광고주국가'] == '미국', '국가코드'] = 1
df3.loc[df3['광고주국가'] == '대한민국', '국가코드'] = 0

In [16]:
df3.head()

,광고주,브랜드,시작일,종료일,Impression,Click,재생 완료,광고주국가,국가코드
0,(유) AAA,브랜드 1,2020-08-01,2020-08-31,11615,72.0,1937,대한민국,0.0
1,㈜ BBB,브래드 2,2020-08-01,2020-08-31,3077,11.0,2070,미국,1.0
2,㈜ CCC,브래드 3,2020-07-24,2020-08-31,8107,25.0,5211,대한민국,0.0
3,NaN,브래드 4,2020-08-04,2020-08-10,1023737,5275.0,195422,대한민국,0.0
4,㈜ DDD,브래드 5,2020-06-25,2020-08-19,1715,6.0,1091,대한민국,0.0

In [17]:
df3['국가코드'] = df3['국가코드'].astype(int)  # astype이면 정수로 바뀐다
df3.head()

,광고주,브랜드,시작일,종료일,Impression,Click,재생 완료,광고주국가,국가코드
0,(유) AAA,브랜드 1,2020-08-01,2020-08-31,11615,72.0,1937,대한민국,0
1,㈜ BBB,브래드 2,2020-08-01,2020-08-31,3077,11.0,2070,미국,1
2,㈜ CCC,브래드 3,2020-07-24,2020-08-31,8107,25.0,5211,대한민국,0
3,NaN,브래드 4,2020-08-04,2020-08-10,1023737,5275.0,195422,대한민국,0
4,㈜ DDD,브래드 5,2020-06-25,2020-08-19,1715,6.0,1091,대한민국,0

In [18]:
code = {
    '대한민국': 0,
    '미국': 1
}

In [19]:
df3['국가코드2'] = df3['광고주국가'].map(code)
df3.head()

,광고주,브랜드,시작일,종료일,Impression,Click,재생 완료,광고주국가,국가코드,국가코드2
0,(유) AAA,브랜드 1,2020-08-01,2020-08-31,11615,72.0,1937,대한민국,0,0
1,㈜ BBB,브래드 2,2020-08-01,2020-08-31,3077,11.0,2070,미국,1,1
2,㈜ CCC,브래드 3,2020-07-24,2020-08-31,8107,25.0,5211,대한민국,0,0
3,NaN,브래드 4,2020-08-04,2020-08-10,1023737,5275.0,195422,대한민국,0,0
4,㈜ DDD,브래드 5,2020-06-25,2020-08-19,1715,6.0,1091,대한민국,0,0

###3) 원핫인코딩

In [ ]:
df = pd.read_csv('http://scottyoon.cafe24.com/data/brand_ad_ex2.csv')

In [ ]:
df.head()

       광고주    브랜드         시작일         종료일  Impression   Click   재생 완료   업종
0  (유) AAA  브랜드 1  2020-08-01  2020-08-31       11615    72.0    1937   교육
1    ㈜ BBB  브래드 2  2020-08-01  2020-08-31        3077    11.0    2070   정보
2    ㈜ CCC  브래드 3  2020-07-24  2020-08-31        8107    25.0    5211  방송업
3      NaN  브래드 4  2020-08-04  2020-08-10     1023737  5275.0  195422   정보
4    ㈜ DDD  브래드 5  2020-06-25  2020-08-19        1715     6.0    1091   교육

In [ ]:
df['업종'].value_counts()

교육     6
방송업    4
기술     4
건설업    3
정보     2
Name: 업종, dtype: int64

In [ ]:
dummies = pd.get_dummies(df['업종'], drop_first=True) # 업종 중 마지막 종류인 건설업은 변수에서 제외하자!

In [ ]:
dummies

    교육  기술  방송업  정보
0    1   0    0   0
1    0   0    0   1
2    0   0    1   0
3    0   0    0   1
4    1   0    0   0
5    0   1    0   0
6    0   1    0   0
7    0   0    1   0
8    0   0    1   0
9    0   0    1   0
10   0   0    0   0
11   1   0    0   0
12   0   0    0   0
13   1   0    0   0
14   0   0    0   0
15   1   0    0   0
16   1   0    0   0
17   0   1    0   0
18   0   1    0   0

In [ ]:
df2 = df.copy()

In [ ]:
df2 = df2.join(dummies)
df2

        광고주     브랜드         시작일         종료일  Impression  ...   업종  교육 기술  방송업  정보
0   (유) AAA   브랜드 1  2020-08-01  2020-08-31       11615  ...   교육   1  0    0   0
1     ㈜ BBB   브래드 2  2020-08-01  2020-08-31        3077  ...   정보   0  0    0   1
2     ㈜ CCC   브래드 3  2020-07-24  2020-08-31        8107  ...  방송업   0  0    1   0
3       NaN   브래드 4  2020-08-04  2020-08-10     1023737  ...   정보   0  0    0   1
4     ㈜ DDD   브래드 5  2020-06-25  2020-08-19        1715  ...   교육   1  0    0   0
5     ㈜ EEE   브래드 6  2020-08-01  2020-08-31        5832  ...   기술   0  1    0   0
6     ㈜ FFF   브래드 7  2020-07-03  2020-08-17        1851  ...   기술   0  1    0   0
7     ㈜ GGG   브래드 8  2020-06-26  2020-08-31       63082  ...  방송업   0  0    1   0
8     ㈜ GGG   브래드 9  2020-08-01  2020-10-14       28246  ...  방송업   0  0    1   0
9     ㈜ GGG  브래드 10  2020-07-10  2020-09-30       25170  ...  방송업   0  0    1   0
10    ㈜ HHH  브래드 11  2020-08-01  2020-08-31        5674  ...  건설업   0  0    0   0
11      NaN  브래드 12  2020-08-01  2020-08-31       10869  ...   교육   1  0    0   0
12    ㈜ III  브래드 13  2020-08-01  2020-08-31      144739  ...  건설업   0  0    0   0
13    ㈜ JJJ  브래드 14  2020-08-01  2020-08-31        2595  ...   교육   1  0    0   0
14    ㈜ KKK  브래드 15  2020-07-31  2020-08-20       16413  ...  건설업   0  0    0   0
15    ㈜ LLL  브래드 16  2020-07-01  2020-08-16       33930  ...   교육   1  0    0   0
16    ㈜ MMM  브래드 17  2020-07-31  2020-08-13        6977  ...   교육   1  0    0   0
17    ㈜ NNN  브래드 18  2020-07-10  2020-08-08        6873  ...   기술   0  1    0   0
18    ㈜ OOO  브래드 19  2020-07-24  2020-08-31       15970  ...   기술   0  1    0   0

[19 rows x 12 columns]